h1{
    color: cadetblue;
}

body{
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#nav, #content, #info{
    margin-top: 200px;
}

.container{
    padding: 5px;
}

#nav {
    width:100px;
    background-color: beige;
    height:500px;
    float: left;
}
#banner {
    width:800px;
    height:200px;
    background-color: bisque;
    position: fixed;
}
#content {
    background-color: rgb(242, 240, 233);
    width:600px;
    float: left;
}
#footer {
    width:800px;
    height:50px;
    background-color: burlywood;
    clear: both;
}
#info {
    width:100px;
    background-color: antiquewhite;
    height:500px;
    float: left;
}